In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [19]:
df1 = pd.read_excel("F:\Proyectos (DA)\ENOEML\Encuestas\ENOE_1T.xlsx",)
df2 = pd.read_excel("F:\Proyectos (DA)\ENOEML\Encuestas\ENOE_2T.xlsx")
df3 = pd.read_excel("F:\Proyectos (DA)\ENOEML\Encuestas\ENOE_3T.xlsx")
df4 = pd.read_excel("F:\Proyectos (DA)\ENOEML\Encuestas\ENOE_4T.xlsx")

In [20]:
ENOE_2022 = pd.concat([df1,df2,df3,df4],axis=0)

In [21]:
ENOE_2022.shape

(1442437, 26)

In [22]:
ENOE_2022.describe()

,upm,Edad,Hijos,SalarioMinimo,FechaNacimiento,YearsEscolaridad,HorasSemana,IngresoMensual,IngresoHoras
count,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06,1.442437e+06
mean,1.650327e+06,3.383921e+01,8.843464e-01,5.376124e+03,3.240827e+04,8.324196e+00,1.876852e+01,2.662578e+03,1.602949e+01
std,9.331443e+05,2.139549e+01,1.821677e+00,6.802491e+02,2.604438e+04,6.179617e+00,2.391981e+01,5.610424e+03,4.533147e+01
min,1.000050e+05,0.000000e+00,0.000000e+00,5.186000e+03,2.928000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.036340e+05,1.600000e+01,0.000000e+00,5.186000e+03,2.630800e+04,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.601115e+06,3.100000e+01,0.000000e+00,5.186000e+03,3.309100e+04,9.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.501529e+06,5.000000e+01,1.000000e+00,5.186000e+03,3.877500e+04,1.200000e+01,4.200000e+01,4.300000e+03,2.400000e+01
max,3.260800e+06,9.800000e+01,9.900000e+01,7.810000e+03,2.958461e+06,9.900000e+01,1.680000e+02,3.000000e+05,1.000000e+04

In [33]:
ENOE_2022[['EntidadFederativa','Sexo','Escolaridad','EstadoConyugal','UrbanoRural','PEA','PEA2','PEA3','SeguridadSocial','Estrato','NivelEducativo','GrupoEdad','SectorScian','NumeroTrabajos',\
           'SectorFormalInformal','FormalInformal','SectorInstitucional']] = ENOE_2022[['EntidadFederativa','Sexo','Escolaridad','EstadoConyugal','UrbanoRural','PEA','PEA2','PEA3','SeguridadSocial',\
                                                                                        'Estrato','NivelEducativo','GrupoEdad','SectorScian','NumeroTrabajos',\
           'SectorFormalInformal','FormalInformal','SectorInstitucional']].astype('category')

In [34]:
ENOE_2022.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1442437 entries, 0 to 356271
Data columns (total 26 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   EntidadFederativa     1442437 non-null  category
 1   upm                   1442437 non-null  int64
 2   Sexo                  1442437 non-null  category
 3   Edad                  1442437 non-null  int64
 4   Escolaridad           1442437 non-null  category
 5   Hijos                 1442437 non-null  int64
 6   EstadoConyugal        1442437 non-null  category
 7   UrbanoRural           1442437 non-null  category
 8   SalarioMinimo         1442437 non-null  int64
 9   PEA                   1442437 non-null  category
 10  PEA2                  1442437 non-null  category
 11  PEA3                  1442437 non-null  category
 12  SeguridadSocial       1442437 non-null  category
 13  Estrato               1442437 non-null  category
 14  FechaNacimiento       1442437 non-null  int64
 15  NivelEducativo        1442437 non-null  category
 16  GrupoEdad             1442437 non-null  category
 17  YearsEscolaridad      1442437 non-null  int64
 18  HorasSemana           1442437 non-null  int64
 19  IngresoMensual        1442437 non-null  int64
 20  IngresoHoras          1442437 non-null  float64
 21  SectorScian           1442437 non-null  category
 22  NumeroTrabajos        1442437 non-null  category
 23  SectorFormalInformal  1442437 non-null  category
 24  FormalInformal        1442437 non-null  category
 25  SectorInstitucional   1442437 non-null  category
dtypes: category(17), float64(1), int64(8)
memory usage: 133.4 MB